<main class="container">
  <h1 class="my-4">Catálogo de Livros</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Editora</th>
        <th>Resumo</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>
          <div class="livro-info">
            <div>{{ livro.titulo }}</div>
            <button class="btn btn-danger" (click)="excluir(livro.codigo)">Excluir</button>
          </div>
        </td>
        <td>{{ obterNome(livro.codEditora) }}</td>
        <td>{{ livro.resumo }}</td>
        <td>
          <ul>
            <li *ngFor="let autor of livro.autores">{{ autor }}</li>
          </ul>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</main>
